@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.tag{
    font-family: "Albert Sans"; 
    text-decoration: none;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid #1A1A1A;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 13.2px */ 
    background: #1A1A1A;
    color: #DDD;
}

.notclickedtag{
    text-decoration: none;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 700; 
    border: 2px solid #000;
    background: transparent;
    color: #1A1A1A;
}

