.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0; 
  width: 100%;
  background-color: blanchedalmond;
  padding: 1.5rem 0;
  border-top: 3px solid #000;
}

.navbar .link{
  text-decoration: none;
  color: #000;
  transition: .3s;
}


.icon{
  width: 30px;
  filter: grayscale(100%);
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.icon-label {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, 0.5s; 
}

.icon-container:hover .icon-label {
  visibility: visible;
  opacity: 1;
}


