.body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.username {
    width: 100vw;
    max-width: calc(100% - 40px);
    height: 30px;
    border: 1px solid #1A1A1A;
    margin: 0px;
    background-color: transparent;
    padding: 20px 7px 20px 30px;
    font-size: 16px;
    font-weight: 600;
}

.button {
    color: rgba(26, 26, 26, 0.80);
    font-family: "Albert Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.32px;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin: 20px 20px;
    border: 0;
    background-color: transparent;
    cursor:pointer;
}

.title {
    color: #1A1A1A;
    font-family: "Albert Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.64px;
    text-transform: uppercase;
    margin: 20px;
}

.back {
    display: inline-flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 24px 20px;
    background-color: transparent;
}

.img {
    width: 375px;
    height: 457px;
    flex-shrink: 0;
}

.backButton {
    margin-top: 1rem;
    padding: 6px 12px;
    border: 1px solid #1A1A1A;
    font-family: "Albert Sans"; 
    text-decoration: none;
    border: 2px solid #1A1A1A;
    font-weight: 700;
    text-transform: uppercase;
    background: #DDD;
    color: #1A1A1A;
    font-size: 1rem;
    cursor: pointer;
    margin-left:20px;
}

.backButton:hover{
    color: #DDD;
    background: #1A1A1A;
}

.padding{
    padding: 0 0.5rem;
    margin-top: 1rem;
}
